#background {
    width: 100%;
    max-width: 72vw;
    margin: 0 auto;
    padding: 1rem;
}

/* Search Styles */
#search-container {
    position: relative;
    display: flex;
    margin-bottom: 1.5rem;
}

#search-input {
    margin-left: auto;
    width: 30%;
    padding: 0.5rem;
    padding-right: 2.75rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
}

#search-icon {
    position: absolute;
    top: 0rem;
    right: 0rem;
    border-radius: 0.375rem;
    width: 2.6rem;
    height: 2.6rem;
    background-color: #e8e9eB;
}

#search-icon:hover {
    cursor: pointer;
}

/* Table View Styles */
#table-container {
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    overflow: hidden;
    font-family: var(--alternative-font);
}

#table {
    width: 100%;
    border-collapse: collapse;
}

#column-names {
    background-color: var(--nav-bg);
    color: white;
}

#table th,
#table td {
    padding: 0.75rem;
    text-align: left;
}

#row-even {
    background-color: white;
}

#row-odd {
    background-color: #e5e7eB;
}

/* Pagination Styles */
#pagination-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    font-family: var(--alternative-font);
}

#page-button {
    width: 40px;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    background-color: white;
    align-content: center;
    cursor: pointer;
}

#page-button:hover {
    background-color: #f9fafb;
}

#page-button-active {
    width: 40px;
    border: 1px solid #3b82f6;
    border-radius: 0.375rem;
    background-color: #3b82f6;
    color: white;
}

#page-input {
    width: 40px;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
}
