@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-colour: #f8f8f8;
  --dark-primary-colour: #5f5f5f;
  --secondary-colour: #fef4d0;
  --default-font: 'Source Sans Pro', 'noto-serif';
  --alternative-font: 'FF DIN';
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-colour);
  margin: 0rem;
  overflow-x: hidden;
  font-family: var(--default-font);
}

@font-face {
  font-family: "FF DIN";
  src: url("/fonts/DIN-Pro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

input, input[type=email], input[type=text], input[type=password] {
  font-family: "FF DIN";
  letter-spacing: -0.5px;
}