:root{
    --fade-in-start-opacity: 0
}

.fade-in {
    opacity: var(--fade-in-start-opacity);
    transform: translateY(20px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Div 1 Styles */
#div-1 {
    width: 100vw;
    height: 100vh;
    background-image: url("/home1.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    user-select: none;
}

#front-logo{
    position: absolute;
    top: 40%;
    font-size: 96px;
    color: var(--secondary-colour);
}

#tagline{
    position: absolute;
    top: 60%;
    font-size: 48px;
    color: var(--secondary-colour);
}

/* Div 2 Styles */
#div-2{
    overflow-x: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    user-select: none;
}

#div-2-header{
    position: absolute;
    top: 5%;
    font-size: 48px;
    color: var(--dark-primary-colour);
}

#image-track{
    display: flex;
    gap: 2vmin;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
    height: max-content;
    width: max-content;
}

#image-track > .image{
    overflow-x: hidden;
    width: 350px;
    height: 400px;
    object-fit: cover;
    object-position: 100% 50%;
}

/* About Us Div (Div 3) Styles */
#about-us-div{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    user-select: none;
    background-color: var(--secondary-colour);
}

#info-image{
    position: absolute;
    top: 20%;
    width: 80vh;
    height: 60vh;
}

#section-header{
    position: absolute;
    top: 20%;
    font-size: 80px;
}
#section-subtext{
    position: absolute;
    max-width: 600px;
    word-wrap: break-word;
    text-align: center;
    top: 50%;
    font-size: 24px;
}


/* Div 4 Styles */
#div-4{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    user-select: none;
}

/* Contact Us Div (Div 5) Styles */
#contact-us-div{
    position: relative;
    width: 100vw;
    height: 35vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    user-select: none;
    background-color: var(--dark-primary-colour);
    color: var(--primary-colour);
}

#contact-us-header{
    position: absolute;
    top: 5%;
    font-size: 48px;
}

#contact-us-icon{
    position: absolute;
    width: 40px;
    height: 40px;
    align-items: center;
}

#contact-us-details{
    position: absolute;
    font-size: 20px;
    justify-content: center;
}